<h1>Введите новую продукцию</h1>
<% form_for :product, @tovars, :url => { :action => "new" }, :html => {:id => 'new_tovar' } do |f| %>
    <label>Название</label>
    <%= f.text_field :name %><br />
    <label>Количество</label>
    <%= f.text_area :number %><br />
    <label>Цена</label>
    <%= f.text_field :price %><br />
    <%= submit_tag 'Добавить' %>
<% end %>