<h1>Введите новую продукцию</h1>
<% form_for :products, @products, :url => { :action => "new" } do |f| %>
    <label>Название</label>
    <%= f.text_field :title %><br />
    <label>Описание</label>
    <%= f.text_area :description %><br />
    <%= submit_tag 'Добавить' %>
<% end %>