<!DOCTYPE html>
<html>
  <head>
    <title>Baza</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <ul class="nav nav-pills">
      <li><a href="/">Главная</a></li>
      <li><a href="/products">Продукция</a></li>
      <li><a href="/products/option">Администрирование</a></li>
    </ul>
  </head>

  <body>
  <div class="well well-large">
    <%= yield %>
    </div>
  </body>
</html>
